@import "tailwindcss";

@theme {
  --font-primary: "Poppins", sans-serif;
}

@layer 
base
 {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    
  }

  html {  
    padding: 0;
    box-sizing: border-box;
    
    font-weight: 300;
  }
} 
    
html {
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}